# Node
node_modules
npm-debug.log

# Environment & config
.env
.env.local
.env.development
.env.production
.env.example

# Git
.git
.gitignore

# Editor / OS
.vscode
.idea

# Docker & build cache
Dockerfile
docker-compose.yml
*.tar

pgdata
*.md
*.log
